input {
	font-size: 1em;
	width: 5em;
}
.name input {
	width: 10em;
}
.btn {
	display: inline-block;
	margin: 1em;
	padding: 0 .5em;
	background: blue;
	color: white;
	text-decoration: none;
}
a:hover {
	color: blue;
	background: white;
}
section, body {
	margin: 0;
	font-family: sans-serif;
}
h1 {
	padding: 0 1em;
}
section > div, section > a.btn, section > p {
	padding: 1em .5em;
}
ul {
	padding: 0;
}
ul li {
	list-style: none;
}
#majorities li {
	padding: 0;
	line-height: 2;
	min-height: 2em;
	background: white;
	border-bottom: 1px solid black;
	position: relative;
}
#majorities {
	border-top: 1px solid black;
}
ul li:nth-child(2n) {
	background: #ddd;
}
ul div {
	display: inline-block;
	padding: .5em;
}
.colours .colour, .vote-share .vote-share {
	display: none !important;
}

.info {
	padding: 0 0.5em;
	position: relative;
	display: inline-block;
	margin: 1em;
	background: white;
}

.chart {
	display: block;
	position: absolute;
	height: 100%;
	opacity: 0.2;
	width: 99.9%;
}

.chart .bar {
	display:inline-block;
	height: 100%;
}
.chart .bar.middle {
	width: 10%;
}

#majority-list {
	position: relative;
}

#majority-line {
    position: absolute;
    height: 100%;
    border: 2px dashed black;
    left:  50%;
    width: 0px;
    z-index: 2;
    padding: 0;
}
